
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  src: url('./fonts/VioletSans-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: violet;
  color: yellow;
  text-align: center;
  font-size: 2em;
  font-family: 'Lacquer', sans-serif;
}

#cat{
  background-color: blue;
  text-color: white;
  font-size: 1em;
  width: 40%;
  display: block;
  margin: auto;
}
/* level 3: select items with the same the id names. In my code I select the every file that has the id name "cat". It can also add to a type selector by adding it in the front. */

.my-fun-class {
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

p#dog, .my-fun-class{
  text-decoration: underline;
  text-shadow: 5px 5px red;
}
/* level 9: a selector to combine two distinct element. Any two types of file could be combined to make changes together. Here I combine a paragraph with a class */

.my-fun-class ~ p {
  text-align: left;
  display: block;
  margin: auto;
  width:60%;
}
/* level 13: general sibling selector that selects all the identical elements that follow another element. It is kind of tricky to distinguish the element that follows another. The first is the host and the second is the follower. */
img:last-child{
  width 50%
  bordor-radius : 8px;
  filter: drop-shadow(8px 8px 10px gray);
}
/* level 17: a selector that chooses every object of the same property as the last element of a type. One thinf to notice, if the element is the last element of the body, it also counts. Here I choose every image element in the last place of a category. */
img:first-of-type{
  filter: hue-rotate(90deg);
}
/* level 20: select the first elements within a certain element. It searches every elements including the body paragraph. Here I utilized it to select the dog and the mosqueto. */
img {
  width: 40%;
  padding: 2em;
}
