html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  text-shadow: 0px 3px 5px black;
  background-size: cover;
}

.grid-container {
  position: fixed;
  width: 90%;
  border: 2px;
  display: block;
  margin: auto;
  grid-template-columns: auto auto auto;
  padding: 30px;
}

a:link {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

.head {
  grid-column: 1/5;
  display: flex;
  justify-content: flex-end;
  font-family: 'Satisfy', cursive;
  color: #FFFFFF;
  animation: emerge 3s infinite;
  animation-direction: alternate-reverse;
}

.text1 {
  grid-column: 4/5;
  grid-row: 2/3;
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  font-size: 80px;
  color: #ffffff;
}

.text2 {
  grid-column: 4/5;
  grid-row: 4/5;
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  font-size: 40px;
  color: #ffffff;
  height: 100px;
}

.text1:hover {
  text-shadow: 2px 2px 2px #E87A90;
  cursor:pointer;
}

.text2:hover {
  text-shadow: 2px 2px 2px #E87A90;
  cursor:wait;
}

#note {
  font-family: Cinzel, serif;
  font-weight: lighter;
  color:white;
  text-shadow:none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
  padding-top: 640px;
}

@media only screen and (min-width: 1024px) {
  .text1 {
    font-size: 60px;
  }

  .text2 {
    font-size: 40px;
  }

 .head{
   font-size:80px;
   padding-bottom:60px;
 }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 414px) {
  .text1 {
    font-size: 55px;
  }

  .text2 {
    font-size: 35px;
  }

 .head{
   font-size:75px;
   padding-bottom:55px;
 }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

@media only screen and (max-width: 414px) {
  .text1 {
    font-size: 35px;
  }

  .text2 {
    font-size: 30px;
  }

  .head{
    font-size:60px;
    padding-bottom:40px;
  }

  #myVideo {
    position: fixed;
    right: -200px;
    bottom: 0;
    display: block;
    margin: center;
    min-width: 100%;
    max-height: 100%;
  }
}
